h1 {
  font-family: "Merienda", cursive;
}

p {
  font-family: "Mali", cursive;
}

.list {
  font-family: "Open Sans", sans-serif;
}

nav {
  font-family: "Original Surfer", cursive;
  font-size: x-large;
}
