.round {
  border-radius: 50%;
}

/* .jumbotron {
  background-image: url(../images/Logo.jpg);
  background-position: center center;
  height: 80vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
} */

.jumbotron {
  background-color: #ffb6c1;
}

nav {
  font-family: "Original Surfer", cursive;
  font-size: x-large;
}

h1 {
  font-family: "Merienda", cursive;
}

p {
  font-family: "Mali", cursive;
}

.btn {
  font-family: "Fredericka the Great", cursive;
}
