/* * {
  background-color: black;
} */
body {
  background-image: url("workpage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: center; */
}

h1 {
  text-align: center;
  font-family: cursive;
  width: 250px;
  border: 5px dotted blue;
  padding: 10px;
  margin: 20px;
  background-color: black;
  color: white;
}

nav {
  position: relative;
  margin: auto;
  border: 5px double white;
  text-align: center;
  color: white;
  /* width: 330px; */
  background-color: black;
  /* border: 5px solid blue; */
  padding: 5px;
}

nav a {
  color: white;
  font-size: larger;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  margin: auto;
  border: 15px double blue;
  padding: 20px;
  margin: 20px;
  background-color: black;
  color: white;
}

div b {
  font-size: larger;
  color: blue;
  font-family: cursive;
}
